<% const pageTitle = "O Weazel News"; %>
<% include ./partials/header.ejs %>

<div class="container text-center">
    <h1 class="display-5 fw-bold">O Weazel News</h1>
    <p>text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a text o tom a </p>
</div>

<% include ./partials/footer.ejs %>
