<% const pageTitle = "Upravit post"; %>
<% include ../partials/header.ejs %>

<div id="new-content" class="container">
    <h1 class="display-5 fw-bold text-center">Upravit post</h1>
    <p class="text-center" style="margin-top: -0.5rem; padding-bottom: 1rem;">Uprav obsah tvého postu.</p>
    <div class="row justify-content-center">
        <form action="/blog/<%= post._id %>?_method=PUT" method="POST" class="col-md-8">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Nadpis</span>
                    <input type="text" class="form-control" id="updateTitle" name="title" value="<%= post.title %>">
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Obrázek</span>
                    <input type="text" class="form-control" id="updateImage" name="image" value="<%= post.image %>">
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Obsah</span>
                    <textarea class="form-control" id="updateContent" name="content" rows="6"><%= post.content %></textarea>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-pen-to-square fa-xs"></i> Aktualizovat</button>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>
