<% include ../partials/header.ejs %>

<div class="centered">
    <h1 class="display-5 fw-bold">Vytvořit nový post</h1>
    <p style="margin-top: -0.5rem; padding-bottom: 1rem;">Chceš zdělit nějakou novinku? Vytvoř nový post</p>
    <div class="row center-align add-new-container">
        <form action="/" method="POST" class="col s12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nadpis</span>
                <input type="text" name="title" id="newTitle" class="form-control" placeholder='"Nadpis zprávy KTERÝ UPOUTÁ POZORNOST!"'>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Obrázek</span>
                <input type="text" name="image" id="newImage" class="form-control" placeholder="Odkaz na obrázek">
              </div>


            <div class="input-group">
                <span class="input-group-text">Obsah zprávy</span>
                <textarea class="form-control" name="content" id="newContent"></textarea>
            </div>

            <button class="btn button-theme" style="margin-top: 1rem;"><i class="fa-solid fa-plus fa-xs"></i> Zveřejnit</i>
            
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>
